
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Which Way Are You Going?</title>
</head>
<body>
    <section class="container container-fluid">
        <div class="col-md-12 justify-content-center"><h1 class="justify-content-center">Which Way Are You Going?</h1></div>
        <div class="row bg-warning">
            <div class="col-md-6"><button type="button" onclick="location.href='@Url.Action("CreateToNMC", "RiderRequest")'" class="btn btn-success col-md-4">I Need A Ride To NMC</button></div>
            <div class="col-md-6"><button type="button" onclick="location.href='@Url.Action("CreateFromNMC", "RiderRequest")'" class="btn btn-success col-md-4">I Need A Ride From NMC</button></div>
        </div>
    </section>
</body>
</html>
