/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav-link {    
    transition-duration: .25s;
}

/* Provide sufficient contrast against white background */
a{
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.footer-img {
    width: 15%;
    height: auto;
    align-content:center;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.cta-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    align-content: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*CALENDAR STYLES*/
.calendar .display-4 {
    font-size: 1.5rem;
}

@media (max-width:991px) {
    .calendar .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }

    .calendar .date {
        padding-left: 4px;
    }
}

@media (min-width: 1300px) {
    .calendar h5 {
        font-size: 0.9rem;
    }

    .calendar .day {
        height: 8vw;
    }

    .calendar .event {
        font-size: 0.67rem;
    }
}

@media (min-width: 1480px) {
    .calendar .day {
        height: 7vw;
    }
}

@media (min-width: 1920px) {
    .calendar .day {
        height: 5.5vw;
    }
}




.testcontainer {
    position: relative;
    width: 50%;
}

.testimage {
    display: block;
    width:100%;
    height: auto;
}

.testoverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0366d6;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;    
}

.testcontainer:hover .testoverlay{
    height: 100%;
}



.testtext {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#navOption1 {
    color:black;
}

#navOption2 {
    color: black;
}

#navOption3 {
    color: black;
}


 #navOption1:hover{
    background-color: darkgreen;
    color: #fff;
}

#navOption2:hover {
    background-color: darkgreen;
    color: #fff;
}

#navOption3:hover {
    background-color: darkgreen;
    color: #fff;
}
