@{
    ViewData["Title"] = "About Collegiate";
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>
<br />
<div>
    <p>
        Collegiate is a ride-sharing and communication focused application meant for use by students attending classes or training at Northwestern Michigan College who are commuting from an area outside of the immediate campus.
        One of the largest focuses of the college is ensuring student success - and a large aspect of that is the ability to get to classes on time and return home in a safe and timely manner.
        This application exists to act as a catalyst for this - working to connect students to their peers in order to 
        
        
        
        
        
        
        
        
        pool to and from the campuses in the NMC service area, while also
        promoting and drawing attention to environmentally friendly decisions.
    </p>
</div>
<hr />
<div>
    <img class="footer-img" src="~/content/green-img2.jpg" />
    <img class="footer-img" src="~/content/green-img3.jpg" />
    <img class="footer-img" src="~/content/green-img4.jpg" />
    <img class="footer-img" src="~/content/green-img6.jpg" />
    <img class="footer-img" src="~/content/green-img5.jpg" />
</div>
<br />
<hr />
<br />
<div class="cta-container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <a class="cta-button" href="~/Identity/Account/Login">Login Now</a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a class="cta-button" href="~/Identity/Account/Register">Register Now</a>
        </div>
    </div>
</div>
