@{
    ViewData["Title"] = "Developers";
}

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Collegiate Development Team</title>
    <link rel="stylesheet" href="~/css/profileCard.css">
</head>
<body>
    <div class="profile-container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-content">
                    <img src="~/content/nolanYanick.jpg" alt="Nolan" />
                    <div class="text-content">
                        <h4>Nolan Yanick</h4>
                        <h5>Quality Analysis</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-content">
                    <img src="~/content/brieEllis.jpg" alt="Brie" />
                    <div class="text-content">
                        <h4>Brie Ellis</h4>
                        <h5>Front End Administration & Documentation</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-content">
                    <img src="~/content/chaunceyKelly.png" alt="Chauncey" />
                    <div class="text-content">
                        <h4>Chauncey Kelly</h4>
                        <h5>Database Administration</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-content">
                    <img src="~/content/jasonLuckhardt.jpg" alt="Jason" />
                    <div class="text-content">
                        <h4>Jason Luckhardt</h4>
                        <h5>DevOps and Deployment</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>