@model Collegiate.Models.DriverOffer

@{
    ViewData["Title"] = "Create Offer";
}

<!-- Title -->
<div class="d-flex justify-content-center mt-3">

    <h1 class=" text-success">Lets Pick Someone Up</h1>

</div>

<!-- Subtitle -->
<div class="d-flex justify-content-center">

    <h4 class="text-secondary">Offer A Ride Home</h4>

</div>

<hr />

<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <form asp-action="CreateToNMC" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">


                @*Departure Time*@
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" name="Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" style="display: table-cell;">
                
    @*Departure Time*@
                <label asp-for="DepartureTime" class="control-label"></label>
                @Html.TextBoxFor(m => m.DepartureTime, new { @type = "time", @class = "form-control" })
                <span asp-validation-for="DepartureTime" class="text-danger"></span>

                @*Arrival Time*@
                <label asp-for="ArrivalTime"></label>
                <input asp-for="ArrivalTime" class="form-control" name="ArrivalTime" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" style="display: table-cell;">
                @*Departure Time*@
                <label asp-for="Campus"></label>
                <input asp-for="Campus" class="form-control" name="Campus" />
                <span asp-validation-for="Campus" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<p>By posting a ride offer, you are agreeing to the <a asp-area="" asp-controller="Home" asp-action="TermsAndConditions">Terms and Conditions</a></p>
<br />
<button type="submit" class="btn btn-primary">Post Offer</button>
